@page
@model web.Pages.BookModel
@{
}
<h1>Title: @Model.Book.Title</h1>
<h3>Author: @Model.Book.Author</h3>
<h4>Publication year: @Model.Book.PublicationYear</h4>
<h4>Publisher: @Model.Book.Publisher</h4>
<h4>ISBN: @Model.Book.ISBN</h4>