@page
@model web.Pages.ProfileModel
@{
}
<h1>Recommended</h1>


<div class="list-group">
    @foreach (var book in Model.recommendedBooks)
    {
        <a href="/Book/?id=@book.Id" class="list-group-item list-group-item-action"> <h6>@book.Title</h6></a>
    }
</div>
<hr />
<h1>Reviews by you</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book</th>
            <th scope="col">Comment</th>
            <th scope="col">Rating</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (index, review) in Model.MyReviews.Select((value, i) => (i + 1, value)))
        {
            <tr>
                <td>@index</td>
                <td>@Model._bookManager.GetBookInfo(review.BookId).Title</td>
                <td><a class="bg-dark text-white list-group-item list-group-item-action" href="/Book/?id=@review.BookId">@review.Comment</a></td>
                <td>@review.Rating</td>
                <td>@review.Date</td>
            </tr>
        }
    </tbody>
</table>




