@page
@model web.Pages.UserProfileUpdateModel
@{
}
<div class="container">
    <div class="row">
        <form method="post" class="form-check">
            <div class=" col-4">
                <label class="form-label d-flex"> Old username:<br/> <b>@Model.OldUser.Name</b></label>
                <input asp-for="OldUser" type="text" class="form-control" />
                <span asp-validation-for="@Model.OldUser.Name"></span>
            </div>
            <div class=" col-4">
                <label class="form-label d-flex">Old email: <br /><b>@Model.OldUser.Email</b> </label>
                <input asp-for="OldUser" type="text" class="form-control" />
                <span asp-validation-for="@Model.OldUser.Email"></span>
            </div>
            <div class=" col-4">
                <label class="form-label d-flex">Old password: <br /><b>@Model.OldUser.Password</b> </label>
                <input asp-for="OldUser" type="text" class="form-control" />
                <span asp-validation-for="@Model.OldUser.Password"></span>
            </div>

            <button class="btn btn-outline-primary mt-3" type="submit">Update</button>
        </form>
    </div>
</div>